  <!-- First Band (Slider) -->
  <div class="row">
    <div class="twelve columns">
      <div class='big_img'>
      <p class='splash_copy'>
        Let's put the wraps<br> on excessive packaging
      </p>

      <p class='sub_copy'>
        Submit your evidence. Give feedback.<br> Take direct action.
      </p>
    </div>
    </div>
  </div>





  <!-- Three-up Content Blocks -->

  <div class="row">

    <div class="four columns">
      <h4>Put up a photo</h4>
      <%= image_tag('take_a_photo.jpg', :class => 'photoborder') %>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>

    <div class="four columns">
      <h4>See other submissions</h4>
      <%= image_tag('view_products.jpg', :class => 'photoborder') %>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>

    <div class="four columns">
      <h4>Ask for change</h4>
      <%= image_tag('tweet_it.jpg', :class => 'photoborder') %>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>

  </div>
  <div class="row">
    <div class='four columns'>

    </div>
    <div class='four columns'>

    </div>
    <div class='four columns'>
      <div class='twitter_feed'>
        <a class="twitter-timeline" href="https://twitter.com/search?q=%23ReduceApp" data-widget-id="303336044424728577">Tweets about "#ReduceApp"</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
      </div>

    </div>
  </div>
