<div class="row">
  <div class="large-6 columns large-centered index fadein hide">
    <%= image_tag 'reduce.gif', :class => 'logo'  %>
    <br />
    <p class='splash_copy'>
      Let's put the wraps
      on excessive packaging
    </p>
    <p class='sub_copy'>
      Submit your evidence.<br /> Give feedback.<br />
      Take direct action.
    </p>
  </div>
</div>

<script type="text/javascript">
   $.backstretch( main_bg, {duration: 4000, fade: 1000});
   $('footer.bottom').hide();
   $('body').css('background', 'none')
   $('body').css('background-color', '#111111')
   $('.fadein').fadeIn(1000);
   $('.red_footer').hide();
</script>