<footer class="row bottom red_footer">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright 2013</p>
      </div>
      <div class="large-6 columns">
        <ul class="link-list right">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'See Products', root_path %></li>
          <li><%= link_to 'Add Products', root_path %></li>
          <li><%= link_to 'New User', new_user_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>