<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to 'Reduce App', root_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to 'Sign up!', new_user_path %></li>
      <li class="divider"></li>

      <li class="has-dropdown"><a href="#">Explore</a>
        <ul class="dropdown">
          <li class="has-dropdown"><%= link_to 'All Products', products_path %></li>
          <li><%= link_to 'All Users', users_path %></li>
        </ul>
      </li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider show-for-small"></li>
      <li class="has-form">
        <a class="button" href="#">Logout</a>
      </li>
    </ul>
  </section>
</nav>